<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{379,65}</string>
                <key>spriteSourceSize</key>
                <string>{379,65}</string>
                <key>textureRect</key>
                <string>{{1,135},{379,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,65}</string>
                <key>spriteSourceSize</key>
                <string>{430,65}</string>
                <key>textureRect</key>
                <string>{{1,68},{430,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,65}</string>
                <key>spriteSourceSize</key>
                <string>{481,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{481,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading_texture.png</string>
            <key>size</key>
            <string>{483,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9346f8929439b25a5fb9fad0f3686502:068b48927625c618a11e04877d3aabed:7b2289c1738646377335bd0ee0378736$</string>
            <key>textureFileName</key>
            <string>loading_texture.png</string>
        </dict>
    </dict>
</plist>